<div class="row">
  <h1>WordCloud</h1>
</div>
<div class="row">
  <p>Generate your own wordcloud!</p>
</div>

<div>
  <div class="row">
    <label for="text">Choose a word: </label>
    <input [(ngModel)]="title" type="text" name="text">
  </div>
  <div class="flex-container">
    <label for="fontFamily">Font Family:</label>
    <select [(ngModel)]="fontFamily" name="fontFamily">
      <option value="sans serif">sans serif</option>
      <option value="Roboto">Roboto</option>
      <option value="Lilita One">Lilita One</option>
      <option value="Oswald">Oswald</option>
    </select>
  </div>
  <div class="flex-container">
    <label for="fontScale">Font size: </label>
    <input [(ngModel)]="fontScale" type="number" name="fontScale">
    <label for="case">Letter case: </label>
    <select [(ngModel)]="case" name="case">
      <option value="upper">upper</option>
      <option value="lower">lower</option>
      <option value="none">none</option>
    </select>
  </div>
  <div class="flex-container">
    <label for="minWordLength">min Word Length: </label>
    <input [(ngModel)]="minWordLength" type="number" name="minWordLength">

    <label for="rotation">Rotation: </label>
    <input [(ngModel)]="rotation" type="number" name="rotation">
  </div>
  <div class="row">
    <button class="button" (click)="onClick()">Generate</button>
  </div>
</div>
